.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

.background {
    background-image: url("./images/background.jpg");
    border: 1px solid #006639;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(178, 175, 175);
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #006639;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #006639;
}

.logo {
    width: 150px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-link {
    color: white;
    text-decoration: underline;
    margin: 0 10px;
}

.sign-in {
    background-color: #127f4a;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.sign-in:hover {
    background-color: white;
    color: #006639;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #00A651;
}

.nav-item {
    color: white;
    text-align: center;
    flex-grow: 1;
    padding: 10px 0;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #007A3B;
}

.menu-icon{
    background-color: white;
    width: 50px;
}

.dropbtn {
    display: none;
    background-color: #04AA6D;
    border-radius: 50%;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-image: url('/images/menu.png');
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

.reservation-card {
    /* margin: 50px 500px;  */
    margin: 20px 10%;
    background-color: white; 
    padding: 20px; 
    border-radius: 5px;
}

.reservation-heading {
    display: flex; 
    align-items: center; 
    gap: 10px;
}

.reservation-operation {
    color: #006639; 
    font-weight: 700;
}

.reservation-textbox-heading {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 5px;
}

.reservation-textbox {
    margin-bottom: 5px;
}

.reservation-checkbox {
    display: flex; 
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1200px;
}
 
.box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(25% - 40px);
    box-sizing: border-box;
    text-align: center;
}
 
.icon {
    font-size: 36px;
    color: #28a745;
    margin-bottom: 10px;
}
 
h3 {
    color: #28a745;
    margin-bottom: 10px;
}
 
p {
    color: #666;
}

.center {
    text-align: center;
}

.service {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

@media (max-width: 480px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .box {
        flex: 1 1 100%;
        max-width: 90%;
    }
}

.vehicle-carousel {
    display: flex;
    justify-content:space-around;
    margin-bottom: 20px;
}

@media (max-width: 480px) {
    .vehicle-carousel {
        flex-direction: column;
        align-items: center;
    }

}
 
.vehicle {
    text-align: center;
}
 
.vehicle img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
 
.vehicle p {
    margin-top: 10px;
}
 
.vehicle a {
    color: #006639;
    text-decoration: none;
    font-weight: bold;
}
 
.vehicle a:hover {
    text-decoration: underline;
}

.cards-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
}

@media (max-width: 480px) {

    .card {
        flex: 1 1 100%;
        max-width: 90%;
    }
}
 
.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px #000;
    overflow: hidden;
    width: 22%;
    margin: 10px;
    text-align: center;
}
 
.card img {
    width: 100%;
    height: auto;
}
 
.card-content {
    padding: 20px;
}
 
.card-content h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}
 
.card-content p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}
 
.card-button {
    background-color: #006639;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
 
.card-button:hover {
    background-color: #004d2e;
}

.promo-section {
    background-color: #006639;
    color: white;
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
    margin: 20px;
    position: relative;
    overflow: hidden;
}
 
.promo-content {
    position: relative;
    z-index: 1;
}
 
.promo-section h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
 
.promo-section p {
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
}
 
.promo-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
 
.promo-button:hover {
    background-color: white;
    color: #006639;
}

.connection-section {
    padding: 40px 20px;
    text-align: center;
}
 
h2 {
    color: #333;
    margin-bottom: 20px;
}
 
.card, .full-width-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    position: relative;
}
 
.card-image {
    width: 100%;
    height: auto;
}
 
.card-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
}
 
.card-content h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}
 
.card-content p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}
 
.card-button {
    background-color: #006639;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
 
.card-button:hover {
    background-color: #004d2e;
}
 
.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}
 
.locations span {
    width: 22%;
    margin-bottom: 10px;
    font-size: 16px;
    color: #006639;
}

@media (max-width: 480px) {
    .nav-links{
        display: none;
    }
    .dropbtn{
        display: block;
    }
    .nav-item{
        display: none;
    }
    .bottom-nav{
        justify-content: start;
        padding-left: 5%;
    }
    
}

@media (min-width: 480px) {
    .menu-button {
        display: none;
    }
}